<h1>About</span></h1>

<div>
This blog is the place where I show my maps and other minor works. Sometimes I write essays too.

I only post when I have something I want to say. 

If you have comments, questions or inquiries, do contact me via e-mail, Twitter, or Telegram.

</div>

<h3>Want to support me?</span></h3>

If you like what I do, consider supporting me via Ko-Fi!

&nbsp;&nbsp;

<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'J3J62VTSA');kofiwidget2.draw();</script>  

<h3>Subscribe to my newsletter!</span></h3>

It will keep you updated on new posts and features.

&nbsp;&nbsp; 

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/skalimoi" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/skalimoi', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
        