<h1>About</span></h1>

<div>
 In this blog I talk about my various creative projects. Other topics include guides and tutorials about my crafts, reviews, essays and other personal opinions. 

If you want to talk with me for comments or inquiries, you're welcome to do so via e-mail, Twitter, or Telegram.

</div>

<h1>Want to support me?</span></h1>

If you like what I do, consider supporting me via Ko-Fi!

<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'J3J62VTSA');kofiwidget2.draw();</script>  

<h1>Subscribe to my newsletter!</span></h1>

It will keep you updated on new posts and features.

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/skalimoi" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/skalimoi', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
        