---
layout: default
---

<a class="btn" href= "{{ site.url }}/" >
  Home
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.url }}/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<!-- Comments -->

<head>
    <script src="/SCRIPTS/AV-MIN.JS"></script>
    <script src='/SCRIPTS/Valine.min.js'></script>
</head>
<body>
    <div id="vcomment"></div>
    <script>

    // 1.Define langName and langMode 
var langName = 'en',
    langMode = {  
        "nick": "NickName",
        "mail": "E-Mail",
        "link": "Website(http://)",
        "nickFail":"NickName cannot be less than 3 bytes.",
        "mailFail":"Please confirm your email address.",
        "sofa": "No comment yet.",
        "submit": "Submit",
        "reply": "Reply",
        "cancelReply": "Cancel reply",
        "comments": "Comments",
        "cancel": "Cancel",
        "confirm": "Confirm",
        "continue": "Continue",
        "more": "Load More...",
        "preview": "Preview",
        "emoji": "Emoji",
        "expand": "See more....",
        "seconds": "seconds ago",
        "minutes": "minutes ago",
        "hours": "hours ago",
        "days": "days ago",
        "now": "just now",
        "uploading":"Uploading ...",
        "uploadDone":"Upload completed!",
        "busy":"Submit is busy, please wait...",
        "code-98":"Valine initialization failed, please check your version of av-min.js.",
        "code-99": "Valine initialization failed, Please check the `el` element in the init method.",
        "code-100": "Valine initialization failed, Please check your appId and appKey.",
        "code-140":"The total number of API calls today has exceeded the development version limit.",
        "code-401": "Unauthorized operation, Please check your appId and appKey.",
        "code-403": "Access denied by API domain white list, Please check your security domain."
    };

    var valine = new Valine();
    valine.init({
        el:'#vcomment',
        appId:'tSGBtSWqU9zqoFmfEasXMss2-MdYXbMMI',
        appKey:'r2WOK6sg7zPlqx0YYITgv4bM'
        lang:'en',
        langMode: langMode
    })
    </script>
</body>
