---
layout: default
---

<a class="btn" href= "{{ site.url }}/" >
  Home
</a>



<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<!-- Comments -->

<head>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
    <div id="vcomment"></div>
    <script>
      var valine = new Valine();
      valine.init({
        el:'#vcomment',
        appId:'tSGBtSWqU9zqoFmfEasXMss2-MdYXbMMI',
        appKey:'r2WOK6sg7zPlqx0YYITgv4bM',
        placeholder: 'Write a comment',
        lang:'en'
      })
    </script>
</body>
